@page "/admin/game-console/add"
@rendermode InteractiveServer
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager Navigation

<PageTitle>Game Console Add</PageTitle>

@if (GameConsole is not null)
{
  <GameConsoleForm Busy="Busy" 
         GameConsole="GameConsole" 
         IsAdd="true"
         CancelRequest="Cancel"
         ValidationResult="@(async (success) => await ValidationResultAsync(success))" />
}

@if (Success)
{
  <br />
  <div class="alert alert-success">The Game Console was successfully added.</div>
}

@if (Error)
{
  <br />
  <div class="alert alert-danger">Failed to add the Game Console (@ErrorMessage).</div>
}

@code {
  private GameConsole? GameConsole { get; set; }

  private bool Busy;

  private bool Success;

  private bool Error;

  private string ErrorMessage = string.Empty;

  protected override void OnInitialized()
  {
    GameConsole = new();
  }

  private async Task ValidationResultAsync(bool success)
  {
    if (Busy)
    {
      return;
    }

    if (!success)
    {
      Success = false;
      Error = false;
      return;
    }

    Busy = true;

    using var context = DbFactory.CreateDbContext();

    if (GameConsole is not null)
    {
      context.GameConsoles?.Add(GameConsole);
    }

    try
    {
      await context.SaveChangesAsync();
      Success = true;
      Error = false;

      Navigation.NavigateTo($"/admin/game-console/view/{GameConsole?.Id}");
    }
    catch (Exception ex)
    {
      Success = false;
      Error = true;
      ErrorMessage = ex.Message;
      Busy = false;
    }
  }

  private void Cancel() => Navigation.NavigateTo($"/admin/game-console");
}
